<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Passport details</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/showHidden.js"></script>
</head>
<body>
<script>
    function showHidden() {
        //  document.getElementById("getByPassportPK").hidden = false;
        const select = document.getElementById("selection");
        const selectVal = select.options[select.selectedIndex].value;
        document.getElementById(selectVal).hidden=false;
    }
</script>


<h2> Просмотр существующих паспортов</h2>
<form th:action="@{/passportView}" method="post">

    <select id="selection" th:name="action" onchange="showHidden()">
        <option value="getAll" >Посмотреть все паспорта</option>
        <option value="getByPassportPK"> Выбрать по серии/номеру </option>
        <option value="getBySurname"> Выбрать по Фамилии </option>
        <option value="getByFIO"> Выбрать по ФИО </option>
        <option value="getByCity"> Выбрать по городу </option>
        <option value="getByHavingFamily">Имеет семью</option>
        <option value="getByHavingConviction">Имеет судимость</option>

    </select>
    <button id="chooseButt" type="submit" onclick="">Выбор</button>
</form>


<form id="getByPassportPK" hidden th:action="@{/passportView/getById}" method="post">
<label>Введите серию
    <input type="text" th:name="seria" placeholder="Серия" />
</label>
<label>Введите номер
    <<input type="text" th:name="number" placeholder="Номер"/>
</label>
    <button type="submit">Выбрать</button>
</form>


<form id="getBySurname" hidden th:action="@{/passportView/getBySurname}" method="post">
    <label>Введите Фамилию
        <input type="text" th:name="surname" placeholder="Фамилия" />
    </label>
    <button id="chooseBySurname" type="submit">Выбрать</button>
</form>

<form id="getByFIO" hidden th:action="@{/passportView/getByFIO}" method="post">
    <label>Введите ФИО через пробел
        <input type="text" th:name="fullName" placeholder="Имя Фамилия Отчество (при наличии)" />
    </label>

    <button id="chooseByFIO" type="submit">Выбрать</button>
</form>

<form id="getByCity" hidden th:action="@{/passportView/getByCity}" method="post">
    <label>Введите город
        <input type="text" th:name="city" placeholder="Город" />
    </label>
    <button id="chooseByCity" type="submit">Выбрать</button>
</form>

<table  id="table1" class = "table table-striped table responsive-md">
    <thead class = "thread-dark">

<tr>
    <th>Серия и Номер</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Город прописки</th>
    <th>Пол</th>
    <th>Семенйное положение</th>
    <th>Наличие судимости</th>
    <th>Дата рождения</th>


</tr>
</thead>

<tbody>
<tr th:each="passport:${passportPage}">
    <td th:text ="${passport.passportPK}"></td>
    <td th:text ="${passport.name}"></td>
    <td th:text ="${passport.surname}"></td>
    <td th:text ="${passport.secondName}"></td>
    <td th:text ="${passport.city}"></td>
    <td th:text ="${passport.gender}"></td>
    <td th:text ="${passport.family}"></td>
    <td th:text ="${passport.conviction}"></td>
    <td th:text ="${passport.birthDate}"></td>

    <td>
        <a th:href="@{/passportEdit/{id}(id=${passport.passportPK})}"
           class = "btn btn-primary btn-sm"> Update </a>

        <a th:href="@{/passportDelete/{id}(id=${passport.passportPK})}"
           class = "btn btn-danger"> Delete </a>

    </td>


</tr>



</tbody>

</table>
<div th:if="${passportPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{''(size=${passportPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==passportPage.number + 1} ? active"></a>
</div>

<a th:href="@{/passport}"
   class = "btn btn btn-secondary btn-sm"> Назад </a>

</body>
</html>